.metric-wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.metric-acronym {
    padding-left: .3rem;
    font-size: .5rem;
}

.metric-acronym, .metric {
    margin: 0;
}

.weatherMetric-wrapper {
    display: flex;
    margin: auto;
    justify-content: center;
    margin-top: 3rem;
}

.weatherMetric-container {
    margin-left: 1rem;
    margin-right: 1rem;
}

.weatherMetric-title {
    height: 1rem;
    margin: auto;
    display: block;
}