.description, .search {
    margin: 0;
}

.description {
    margin: auto;
    font-size: 1rem;
    text-align: center;
    display: inline;
}

.description-form {
    display: inline;   
}

.description-form > input:focus {
    outline: none !important;
}

.description-form > input:-moz-read-write{
    font-weight: bold;
}

.description-form > input:read-write{
    font-weight: bold;
}

.description-wrapper {
    text-align: center;
}